/* button{
    width: 150px;
    padding: 5px 75px;
    border: 1px solid black;
    border-radius: 50px;
}


body {
    font-family: Roboto, sans-serif;
    background-color: #fd326c;
    background-color: #a5ffd6;
} */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    box-sizing: border-box; 
    font-family: 'Lato', sans-serif; 
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: lightgray;
}

/*Login page starts here*/


.hero-section{
    width: 100vw;
    height: 100vh;
}

.hero-container{
    /* background-image: url('../assets/images/josh-hild-m9aGgc8UW6o-unsplash.jpg'); */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../assets/images/josh-hild-m9aGgc8UW6o-unsplash.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content{
    color: #fd326c;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-content h1{
    font-size: 60px;
    margin-bottom: 30px;
}

.signin-input{
    margin: 8px 0;
    width: 100%;
}
.signin-input input{
    background-color: #fff;
    width: 100%;
    padding: 10px 2px;
    border-radius: 10px;
}

.signin-btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signin-btn button{
    cursor: pointer;
    margin-top: 5vh;
    border-radius: 20px;
    background-color: #fd326c;
    color:white;
    font-weight: bold;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
}
.signin-btn p{
    color:#fff;
}
#signup-prompt-click{
    color: #fd326c;
    cursor: pointer;
}
.popup-container {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.signup-container{
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
}
.signup-header{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.signup-content{
    width: 90%;
}
.popup-back-btn{
    height: 20px;
    width: 20px;
    margin: 5px;
    margin-right: 15px;
    cursor: pointer;
}
.popup-back-btn img{
    width: 100%;
}
.show {
    pointer-events: all;
    opacity: 1;
}
.pop-pp{
    /* background-image: url('../assets/images/Sample_User_Icon.png'); */
    background-position: center;
    background-size: cover;
    width: 15vw;
    height: 15vw;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid black;
}
.center-pic{
    display: flex;
    justify-content: center;
}
.signup-container-two{
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
}
.signup-content-two{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textarea-input{
    display: flex;
    flex-direction: column;
}

/* feed page */
.feed-navbar{
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #fd326c;
    padding: 0 50px;
}

.navbar-feed-right{
    display: flex;
    justify-content: flex-end;
    /* width: 30%; */
}

.navbar-feed-right-profile{
    width: 30px;
    height: 30px;
    margin: 0 5px;
}
.navbar-feed-right-profile img{
    width: 100%;
    height: 100%;
}
#user-profile-pic{
    border-radius: 50%;
}

.user-card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    margin: 10px 15px;
    border-color: black;
    border-radius: 5px;
    border: 1px solid;
    /* flex-basis: 1; */
}
.user-image{
    width: 100%;
    height: 300px;

    
}
.user-image img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.user-content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 150px;
}
.user-content >*{
    margin: 3px 0;
}
.user-content-name-age{
    display: flex;
    align-items: center;
}
.user-content-name-age h2{
    margin-right: 5px;
}

.feed-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
}
/* Profile page */
.user-profile-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 450px;
    margin: 20px 0;
    margin-bottom: 70px;
}

.user-profile-image{
    width: 30%;
    height: 100%;
    /* pointer-events: none; */

}
.user-profile-image img{
    width: 100%;
    height: 100%;

}
.user-profile-info{
    /* pointer-events: none; */
    opacity: 0.2;
}
.user-profile-preferences{
    /* pointer-events: none; */
    opacity: 0.2;
}
.password-popup{
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    box-sizing: content-box;
    padding: 50px;
}
.show-edit{
    pointer-events: all;
    opacity: 1;
}
#hidden{
    width: auto;
}










@media screen and (max-width:1050px){
    .feed-container{
        justify-content: center;
        margin: 10px 50px;
    }
}